body{
  background-image: url("background.jpg");
}

#logo{
  font-weight: bold;
  font-family: "Times New Roman";
  font-size:50px;
  color: red;
  text-decoration:none;
}
header{
  text-align:left;
  padding: 20px;
}

.container{
  margin: 50px auto;
  width: 500px;
}
.well{
  padding: 40px;
}
footer{
  background-color: transparent;
  color:darkslategrey;
  text-align: center;

}
